/*
	Minimal CSS for Oracle Database Documentation
*/

/* Standard Element Selectors */

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	color: #309;
	background: white;
}

th {
	font-family: sans-serif;
}

a img {
	border-style: none;
}

div.header > p {
	display: none;
}

/* Class Selectors */

.ProductTitle {
	font-family: sans-serif;
}

.BookTitle {
	font-family: sans-serif;
}

.VersionNumber {
	font-family: sans-serif;
}

.PrintDate {
	font-family: sans-serif;
	font-size: small;
}

.PartNumber {
	font-family: sans-serif;
	font-size: small;
}
/* HTML5 CSS ADDED PROGRAMATICALLY */
.cellalignment71 {
  border-spacing: 0px;
  padding: 0px;
  width: 100%;
}

.cellalignment72 {
  text-align: left;
  vertical-align: top;
}

.cellalignment73 {
  text-align: right;
  vertical-align: bottom;
}

.cellalignment74 {
  border-spacing: 0px;
  float: right;
  padding: 0px;
  width: 135px;
}

.cellalignment75 {
  text-align: center;
  vertical-align: top;
}

.cellalignment76 {
  text-align: right;
  vertical-align: top;
}

.cellalignment77 {
  border-spacing: 0px;
  border: 1;
  padding: 3px;
  width: 100%;
}

.cellalignment78 {
  text-align: left;
  vertical-align: bottom;
}

.cellalignment79 {
  text-align: left;
}

.cellalignment80 {
  text-align: center;
}

.cellalignment81 {
  text-align: right;
}

/* HTML5 CSS ADDED PROGRAMATICALLY */
.cellalignment263 {
  border-spacing: 0px;
  padding: 0px;
  width: 100%;
}

.cellalignment264 {
  text-align: left;
  vertical-align: top;
}

.cellalignment265 {
  text-align: right;
  vertical-align: bottom;
}

.cellalignment266 {
  border-spacing: 0px;
  float: right;
  padding: 0px;
  width: 135px;
}

.cellalignment267 {
  text-align: center;
  vertical-align: top;
}

.cellalignment268 {
  text-align: right;
  vertical-align: top;
}

.cellalignment269 {
  text-align: left;
}

.cellalignment270 {
  text-align: center;
}

.cellalignment271 {
  text-align: right;
}

table.cellalignment74 td {
  padding-right:10px;
}
table.cellalignment266 td {
  padding-right:10px;
}
